*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    /*variaveis*/
    --bg-color: #EDF2FF;
    --text-color: #00082F;
    --primary-color: #4263EB;
    --border-color: #4263EB;
    --primary-color-dark: #364FC7;
}

a{
    text-decoration: none;
}

body.dark{
    --bg-color:#111111;
    --text-color: #FFFFFF;
    --primary-color: #000000;
    --border-color: #cec8c8;
    --primary-color-dark: #857f7f;
}

body.dark-blue{
    --bg-color: #00082F;
    --text-color: #FFFFFF;
}

body.pink{
    --bg-color: #FFF0F6;
    --text-color: #1F000B;
    --primary-color: #D6336C;
    --border-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

body.dark-pink{
    --bg-color: #630023;
    --text-color: #FFFFFF;
    --primary-color: #D6336C;
    --border-color: #D6336C;
    --primary-color-dark: #A61E4D;
}

body.purple{
    --bg-color: #161720;
    --text-color: #c2c2c2;
    --primary-color: #5a044d;
    --border-color: #5a044d;
    --primary-color-dark: #922680;
}

body{
    background: var(--bg-color);
    font-family: 'Roboto', sans-serif;
    color: var(--text-color);
}

.container{
    text-align: center;
    width: 300px;
    margin: 60px auto 0px;
}

img {
    width: 100%;
}

img.avatar{
    border-radius: 50%;
    width: 100px;
    height: 100px;
    padding: 3.7px;
    border: var(--border-color) solid 4px;
}

h1{
    margin-top: 24px;
    margin-bottom: 8px;
    font-size: 32px;
} 

.username{
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    opacity: 0.8;
    font-size: 13px;
}

ul{
    list-style: none;
    margin: 48px 0px;
}

ul li a{
    height: 53px;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: var(--primary-color);
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 16px;
    border-radius: 6px;
    transition: background 300ms;
}

/* pseudo-class*/
ul li a:hover{
    background: var(--primary-color-dark);
}

footer{
    font-weight: 500;
    font-size: 12px;
    opacity: 0.6;
    transition: opacity 400ms;
}

footer:hover{
    opacity: 1;
}

footer a{
    color: var(--text-color);
}